
body {
  /*font-family: 'Righteous', cursive;*/
  background-color: white;
}
.card-panel {
  background-color: #424242;

}

div.drag-target{
  width:0px;
}

body p {
  color:#999;
}

html, body {
  /*width: 100%;*/
  /*overflow: hidden;*/
  overflow-x: hidden;
  background-color: #212121;
}

.circ-toast {
  background-color: #f99d43;
  text-align:center;
  font-size: 200%;
  padding-left: 3em;
  padding-right: 3em;
  border-left: 40px solid #424242;

  /*left:500px;
  top:100px;*/
}
.toast {
  right:100px;
}


/*a { color: #CCC }*/

#canvas {
  position: absolute;
  top: 400px;
  right: 0;
  width: 50%;
  height: 50%;
  z-index: -98;
  pointer-events: none;
  background-color: #aaa;
}

#f10title{
  animation: fadein 2s;
  -moz-animation: fatein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

/*nav{
  animation: fadein 4s;
  -moz-animation: fatein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}*/

@keyframes fadein {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
h1, h2, h3, h4, h5, h6 {
  /*color:#dddddd;*/
}

#plax-bg {
  width:100%;
  /*-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);*/
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

}
#nav-wrap{
  background-color:#212121;
  border-top:20px solid black;
  height:250%;
  margin-bottom:1px;
}

#nav-container {
  height:100%;
  bottom:0px;
}


#nav-logo-space {
  position:absolute;
  bottom:0px;
  left:15%;
}

h1,h2, h3, h4, h5, h6 {
  /*color: black;*/
  /*font-size: 1000%;*/
}
/*h1 {
  font-size: 1000%;
}
h2 {
  font-size: 650%;
}
h3 {
  font-size: 600%:
}
h4 {
  font-size: 400%;
}
h5 {
  font-size: 250%;
}*/
a:link, a:visited, a:hover, a:active {
  /*color : black;*/
}
a:active{
  /*color:#f99d43;*/
}
a:link{
  /*font-weight: bold;*/
  /*color: #b5a58a;
  color:#303038;*/
  /*color: #f99d43;*/

}
a:visited{
  /*color:#f99d43;*/
}
nav {
  color:black;
  background-color: white;
}

#nav-item-01, #nav-item-02, #nav-item-03 {
  letter-spacing:3px;font-weight:bold;font-size:200%;height:100%; vertical-align:middle;padding-top:40px;
}

.nav-item {
  text-align: center;
  color: #eee;

}
.nav-item:hover {
  background-color: #eee;
  cursor: pointer;
  color:#333;
}

.top-nav-item {
  text-align: center;

}

.banner-item, .banner-sub-item {
  text-align: center;
}

.banner-item:hover, .banner-sub-item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.top-nav-item:hover {
  background-color: #fff;
  cursor: pointer;

}

#nav-dropdown{
  /*background-color: #cccccc;*/
  /*visibility:hidden;*/
}



.nav-drop-item{
  visibility: hidden
  position: fixed;
  background-color: #ffffff;
  text-align: center;
}

div.col.s6 {
  padding-left:5%;
  padding-right:5%;

}

/*span {
  color: #424242;
}*/
body {
  font-family: 'Bellefair', serif;
}

#circ {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 0s;
  /*-webkit-animation-iteration-count: infinite;*/
}

#cpleft, #cpright {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
}

#logo {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
}
#open {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
}

.toast{
  position: fixed;
  width: 450px;
  height:150px;
  /*left:100px;*/
  top:initial;
  bottom: 0px;
}

.hov:hover {
  background-color: #f4f4f4;
  /*opacity: 0.7;*/
}


div.row.hov {
  padding:5%;
}

p{
  color: #333
}
/**/

/* pulse animation for orbiting elements */
.pulse {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 4s infinite;
}
.pulse:hover {
  animation: none;
}


.tech-toast {

}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 80px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


.sub-circ {
  position : absolute;
  border-radius : 50%;
  background-color : #ff5f2a;
  height : 75px;
  width : 75px;
}

.sub-circ:hover {
  cursor: pointer;
}

.subsub-circ {
  position : inherit;
  border-radius : 50%;
  height : 57.5px;
  width : 57.5px;
  background-color : #ff5f2a;
}

.card-panel {
  background-color: #1a1a1a;
}



#particles-js {
  background-color:white;
  position:absolute;
  right:0;
  width:100%;
  height:100%;
  z-index:-20;
}

#banner-backdrop-01 {
  position:absolute; top:450px;height:570px;z-index:-1;background-color:#f99d43; width:100%;
}

#nested-banner-backdrop-01 {
  position:absolute;
  top:68%;
  height:25%;
  z-index:-1;
  background-color:white;
  width:100%;
}

#h1-title-01, #h1-title-02 {
  color:white;
  z-index:100;
  border-left:40px solid #f99d43;
  border-right:40px solid #f99d43;
}

#circ {
  position:relative;
  border-radius:50%; background-color:#eaa22f;
  height:200px;
  width:200px;
  /*top:20em;*/
  /*top:320px;*/
  /*right:0px;*/
  /*top:80em;*/
}

#info-banner {
  position:relative;
  /*top:15em;*/
  background-color: #ff6600;
  width:100%;
  padding-top:2em;
  z-index:0
}

#triangle-bottomleft {
  width: 0;
  height: 0;
}

.btn-large {
  background-color: coral;
}

blockquote {
  border-color: #f99d43;
}

.article-button-row {
  padding-right: 5%;
}
